IO_LOC "l1" 27;
IO_PORT "l1" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "l2" 28;
IO_PORT "l2" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "l3" 29;
IO_PORT "l3" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "l4" 30;
IO_PORT "l4" IO_TYPE=LVCMOS33 DRIVE=8;
