BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP "clk" SITE "P3";
IOBUF PORT "clk" IO_TYPE=LVCMOS33 PULLMODE=NONE;
FREQUENCY PORT "clk" 25 MHz;

LOCATE COMP "tx" SITE "J17";
IOBUF PORT "tx" IO_TYPE=LVCMOS33 DRIVE=8;
LOCATE COMP "rx" SITE "H18";
IOBUF PORT "rx" IO_TYPE=LVCMOS33 PULLMODE=UP;
LOCATE COMP "led" SITE "U16";
IOBUF PORT "led" IO_TYPE=LVCMOS25 DRIVE=8;
